---
import BasicLayout from "../layouts/BasicLayout.astro"
---

<BasicLayout>
			
	<div class="flex items-center justify-center text-center bg-gray-800 w-full h-64">
		<h1 class="text-white text-4xl font-extrabold">MON PORTFOLIO</h1>
	</div>
	
	<div class="max-w-3xl mx-auto px-6 mt-12 text-gray-800">
		<p class="text-lg leading-relaxed">
			Bienvenue sur mon portfolio. Ici, je partage mes projets et mes créations. 
			Prenez un moment pour explorer, et j’espère que vous y trouverez une touche d’inspiration. Bonne visite !
		</p>
	
		<p class="mt-6 text-lg leading-relaxed">
			Vous trouverez ici un aperçu de mes projets et de mon parcours. Que ce soit pour du design, du web ou d'autres créations, 
			j’aime donner vie à des idées et explorer de nouvelles façons de raconter des histoires à travers le numérique...
		</p>

	</div>
	
</BasicLayout>